<header>
  <h1><%= link_to "Σοφια", root_path %></h1>
  <ul>
    <li>
      <p>contact me: </p>
    </li>
    <li><%= link_to fa_icon("twitter"), "https://www.twitter.com/casvanderhoven/" %></li>
    <li><%= link_to fa_icon("send"), "mailto:casvanderhoven@gmail.com" %></li>
    <% if signed_in? %>
      <%= button_to "sign out", sign_out_path, method: :delete %>
    <% else %>
      <%= button_to "sign in", sign_in_path %>
    <% end %>
  </ul>
</header>
