<div class="banner">
  <div class="center">
    <h1>Study and learn from ancient texts</h1>
    <p>Sofia is an interactive study guide for students of the classics</p>
    <% if signed_in? %>
      <ul>
        <li><%= link_to "Add author", new_author_path %></li>
      </ul>
    <% end %>
    <%= image_tag "plato.png" %>
  </div>
</div>

<div class="wrapper">
  <%= simple_form_for :author, method: 'get', url: authors_path, html: {:class => 'author-search'} do |f| %>
    <%= f.input :starts_with, placeholder: "Search for author...", label: false, input_html: { autofocus: "true", name: 'starts_with' } %>
  <% end %>

  <% @authors.each do |author| %>
    <div class="author">
      <h1><%= link_to author.name.upcase, author_path(author) %></h1>
      <ul>
        <% author.works[0,20].each do |work| %>
          <li><%= link_to work.name, author_work_path(author, work) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
