<div class="banner">
  <div class="center">
    <h1><%= @author.name %></h1>
    <% if signed_in? %>
      <ul>
        <li><%= link_to "Edit author", edit_author_path(@author) %></li>
        <li><%= link_to "Delete author", author_path(@author), method: :delete, data: { confirm: 'Are you sure?' } %></li>
        <li><%= link_to "Add work", new_author_work_path(@author) %></li>
      </ul>
    <% end %>
    <%= image_tag @author.bust.url(:normal) %>
  </div>
</div>

<div class="wrapper">
  <% @works.each do |work| %>
    <div class="work">
      <h1><%= link_to work.name, author_work_path(@author, work)%></h1>
      <ul>
        <% work.chapters.each do |chapter| %>
          <li><%= link_to chapter.name, author_work_chapter_path(@author, work, chapter) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
