<div class="banner">
  <div class="center">
    <h1>About Sofia</h1>
    <%= image_tag "plato.png" %>
  </div>
</div>

<div class="wrapper">
  <section class="about-text">
  <h2>Why I created Sofia</h2>
    <p>
    In high school my favourite subjects were Latin and Greek. I absolutely loved dissecting all these old texts, and reading someone's thoughts from many centuries ago. After high school however, I kind of forgot about my passion for the classical languages. I realised recently how much I miss reading authors like Ovid, Plato, and Virgil. I decided I wanted to start writing my own translations. This would be fun by itself, but I like to do things for others as well. This is where Sofia comes in. Sofia allows me to work on my translations, while at the same time providing a place for students of the classical languages to view the texts and the grammatical structure. I hope you enjoy this web app as much as I enjoyed making it.
    </p>
    <h2>My translations</h2>
    <p>
    I'm not educated in Latin and Greek past high school level. Therefore, it is likely I make mistakes here and there with my translations. However, I like to think I'm decent at translating the soul of a text. What I mean with this, is that I always try not to be too rigid with my translations. I think a lot of students of Latin and Greek work on a translation with an almost algorithmic approach. Translations end up sounding like a bad robot trying to speak English. I try to avoid doing this by translating the text in a slightly more liberal way. Keep this in mind when you're reading the texts, and, if you do find any mistakes, let me know on my <%= link_to "twitter", "https://www.twitter.com/casvanderhoven" %> or <%= link_to "email", "mailto:casvanderhoven" %>.
    </p>
    <h2>How to use Sofia</h2>
    <p>
    Sofia is structured by authors, works, and chapters. You can search for the author you're looking for on the home page, and then navigate to the right chapter (denoted by titles and line numbers) with the menus.
    </p>
    <p>
    The original texts can be viewed in conjunction with the translations. There are a couple ways to obtain information about the grammar and the link between the translation and the original text. There is a toggle that shows the cases of all the words in the text. In addition, hovering over a word highlights the corresponding translation (or original). If you have any ideas on other functionality that you would like to see, then hit me up on my <%= link_to "twitter", "https://www.twitter.com/casvanderhoven" %> or <%= link_to "email", "mailto:casvanderhoven" %>.
    </p>
  </section>
