<div class="chapter-header">
  <h1><%= link_to @chapter.work.name, author_work_path(@chapter.work.author, @chapter.work) %></h1>
  <h2><%= @chapter.name %></h2>
  <div class="legend">
    <%= button_tag "Show structure", id: "switch" %>
    <div class="case-colors hidden">
      <div class="nom">Nominative</div>
      <div class="gen">Genitive</div>
      <div class="dat">Dative</div>
      <div class="acc">Accusative</div>
      <div class="abl">Ablative</div>
      <div class="adv">Adverb</div>
      <div class="verb">Verb</div>
      <div class="voc">Vocative</div>
    </div>
  </div>
  <% if signed_in? %>
    <h2>
      <%= button_to "Delete chapter", author_work_chapter_path, method: :delete, data: { confirm: 'Are you sure?' } %>
      <%= button_to "Add section", new_author_work_chapter_section_path(@chapter.work.author, @chapter.work, @chapter), method: :get %>
    </h2>
  <% end %>
</div>

<div class="chapter-navigation">
  <div class="center">
    <ul>
      <% ordered_sections = @chapter.sections.sort { |a,b| a.start_line <=> b.start_line } %>
      <% ordered_sections.each do |section| %>
        <li><%= link_to("#line-" + section.start_line.to_s) do %>
          <%= section.start_line.to_s.rjust(2, '0') %>-<%= section.end_line.to_s.rjust(2, '0') %>
        <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<div class="wrapper">
  <% @chapter.sections.each do |section| %>
    <div id="line-<%=section.start_line %>" class="section">
      <div class="title">
        <h1><%= section.start_line.to_s.rjust(2, '0')%>-<%=section.end_line.to_s.rjust(2, '0') %></h1>
        <p><%= section.name.upcase %></p>
        <% if signed_in? %>
          <%= button_to "edit section", edit_author_work_chapter_section_path(section.chapter.work.author, section.chapter.work, section.chapter, section), method: :get %>
          <%= button_to "delete section", author_work_chapter_section_path(section.chapter.work.author, section.chapter.work, section.chapter, section), method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
      <div class="original no-background" id="<%= section.start_line %>">
        <p><%= simple_format(section.original, {}, sanitize: false) %></p>
      </div>
      <div class="translation no-background" id="<%= section.start_line %>">
        <p><%= simple_format(section.translation, {}, sanitize: false) %></p>
      </div>
    </div>
  <% end %>
</div>
